body
{
    font-family : "Lato", sans-serif;
    font-weight : normal;
    font-style  : normal;
    color       : #6a6972;
    overflow-x  : hidden;
}

img
{
    max-width : 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus
{
    text-decoration : none;
    outline         : none;
}

a:focus,
a:hover
{
    text-decoration : none;
}

i,
span,
a
{
    display : inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align : middle;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family : "Poppins", sans-serif;
    font-weight : 700;
    color       : #2e2e2e;
    margin      : 0;
}

h1
{
    font-size : 48px;
}

h2
{
    font-size : 36px;
}

h3
{
    font-size : 28px;
}

h4
{
    font-size : 22px;
}

h5
{
    font-size : 18px;
}

h6
{
    font-size : 16px;
}

ul, ol
{
    margin          : 0;
    padding         : 0;
    list-style-type : none;
}

p
{
    font-size   : 16px;
    font-weight : 400;
    line-height : 26px;
    color       : #6a6972;
    margin      : 0;
}
